 /**** Loading Animation Before Enter The App ***/
.wrapper {
  position: absolute;
  z-index: 999;
  height: 100%;
  width: 100%;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1d1d1d;
  overflow: hidden;
}

.wrapper h1{
  color: #aa0000;
  position: fixed;
  top: 25%;
  left: 50%;
  font-size: 30px;
  transform: translate(-50%, -25%);
  line-height: 1.5em;
}

.sk-cube-grid {
  position: fixed;
  top: 30%;
  left: 35%;
  width: 100px;
  height: 100px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #aa0000;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 5.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}

/* Custom, iPhone Retina */
    @media only screen and (min-width : 320px) {

    }

    /* Extra Small Devices, Phones */
    @media only screen and (min-width : 480px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
      .sk-cube-grid {
        position: fixed;
        top: 30%;
        left: 45%;
        width: 100px;
        height: 100px;
        margin: 100px auto;
      }
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
      .wrapper h1{
        top: 30%;
        left: 50%;
        font-size: 30px;
        transform: translate(-50%, -30%);
      }
      .sk-cube-grid {
        position: fixed;
        top: 30%;
        left: 45%;
        width: 100px;
        height: 100px;
        margin: 100px auto;
      }
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
      .wrapper h1{
        top: 30%;
        left: 50%;
        font-size: 30px;
        transform: translate(-50%, -30%);
      }
      .sk-cube-grid {
        position: fixed;
        top: 30%;
        left: 45%;
        width: 100px;
        height: 100px;
        margin: 100px auto;
      }
    }


/**** END ****/
