<div class="cssload-loader">
  <div class="cssload-square cssload-square--main">
    <div class="cssload-square cssload-square--mini"></div>
    <div class="cssload-square cssload-square--mini"></div>
    <div class="cssload-square cssload-square--mini"></div>
    <div class="cssload-square cssload-square--mini"></div>
    <div class="cssload-square cssload-square--mini"></div>
    <div class="cssload-square cssload-square--mini"></div>
    <div class="cssload-square cssload-square--mini"></div>
    <div class="cssload-square cssload-square--mini"></div>
    <div class="cssload-square cssload-square--mini"></div>
    <div class="cssload-square cssload-square--mini"></div>
    <div class="cssload-square cssload-square--mini"></div>
    <div class="cssload-square cssload-square--mini"></div>
    <div class="cssload-square cssload-square--mini"></div>
    <div class="cssload-square cssload-square--mini"></div>
    <div class="cssload-square cssload-square--mini"></div>
    <div class="cssload-square cssload-square--mini"></div>
  </div>
</div>
<div class="container-fluid wrapper">
  <app-header></app-header>
  <app-main></app-main>
  <app-footer></app-footer>
</div>
