<div class="cssload-loader">
  <div id="hint">
    <h2>Copenhagen Airports</h2>
    <br>
    <h3>Move your mouse left or right to see some action</h3>
    <br>
    <h3>Loading ...</h3>
  </div>
  <a class="action left"></a>
  <a class="action middle"></a>
  <a class="action right"></a>
  <div id="im-container">
    <img id="airplane" src="https://dl.dropboxusercontent.com/u/12646264/assets/airplane.png">
  </div>

  <!-- <div class="cssload-square cssload-square--main">
    <div class="cssload-square cssload-square--mini"></div>
    <div class="cssload-square cssload-square--mini"></div>
    <div class="cssload-square cssload-square--mini"></div>
    <div class="cssload-square cssload-square--mini"></div>
    <div class="cssload-square cssload-square--mini"></div>
    <div class="cssload-square cssload-square--mini"></div>
    <div class="cssload-square cssload-square--mini"></div>
    <div class="cssload-square cssload-square--mini"></div>
    <div class="cssload-square cssload-square--mini"></div>
    <div class="cssload-square cssload-square--mini"></div>
    <div class="cssload-square cssload-square--mini"></div>
    <div class="cssload-square cssload-square--mini"></div>
    <div class="cssload-square cssload-square--mini"></div>
    <div class="cssload-square cssload-square--mini"></div>
    <div class="cssload-square cssload-square--mini"></div>
    <div class="cssload-square cssload-square--mini"></div>
  </div> -->
</div>
<div class="container-fluid wrapper">
  <app-header></app-header>
  <app-main></app-main>
  <app-footer></app-footer>
</div>
