<div class="row">
  <div class="form-group col-xs-12 col-md-12 col-lg-12">
    <div class="input-group" id="adv-search">
        <div class="marginForSearch">
            <input type="text" class="form-control" placeholder="Search for flight..." [(ngModel)]="searchStr" name="searchStr" (keyup)="inputSearch()" (keyup.enter)="searchFlights()"/>
        </div>
        <div class="marginForSearch">
            <my-date-picker [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)"></my-date-picker>
        </div>
        <div class="marginForSearch">
            <select class="form-control" (change)="onTimeChanged($event.target.value)">
                <option *ngFor="let time of hours">
                    {{time}}
                </option>
            </select>
        </div>
        <div class="input-group-btn marginForSearchButton">
            <button type="button" class="btn btn-primary" (click)="searchFlights()">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </button>
        </div>
    </div>
  </div>
</div>
<div *ngIf="searchRes">
    <h3 class="">Flights Result</h3>
    <div class="row is-flex">
        <div class="col-sm-6 col-md-4 col-lg-3 col-xs-6" *ngFor="let flight of searchRes; let i = index;">
            <app-flight-card [flight]="flight"></app-flight-card>
        </div>
    </div>
</div>
